<?xml version="1.0"?>
<!-- not putting name here because it is going to be referred by other urdf files-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="green">
        <!--red green blue alpha(transparency)-->
        <color rgba="0 0.5 0 1" />
    </material>
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

</robot>