<?xml version="1.0"?>
<!-- not putting robot name here because it is going to be referred by other urdf files-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="green">
        <!--red green blue alpha(transparency)-->
        <color rgba="0 0.5 0 1" />
    </material>
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    <!--define a function to define inertial matrices for differenet boxes-->
    <!-- mass length width height (origin's)xyz rpy (all in SI units)-->
    <xacro:macro name="box_inertia" params="m l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <!-- implement the moment of inertia of cuboid-->
            <inertia ixx="${(m/12.0)*(h*h+l*l)}" ixy="0" ixz="0"
                     iyy="${(m/12.0)*(w*w+l*l)}" iyz="0"
                     izz="${(m/12.0)*(w*w+h*h)}" />
        </inertial>
    </xacro:macro>
    <!--the inertia matrix (describes all rotation direction) of cylinders-->
    <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <!-- implement the moment of inertia of cuboid-->
            <inertia ixx="${(m/12.0)*(3*r*r+h*h)}" ixy="0" ixz="0"
                     iyy="${(m/12.0)*(3*r*r+h*h)}" iyz="0"
                     izz="${(m/2.0)*(r*r)}" />
        </inertial>
    </xacro:macro>
    <!--inertia matrix for sphere-->
    <xacro:macro name="sphere_inertia" params="m r xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <!-- implement the moment of inertia of cuboid-->
            <inertia ixx="${(m*0.4)*(r*r)}" ixy="0" ixz="0"
                     iyy="${(m*0.4)*(r*r)}" iyz="0"
                     izz="${(m*0.4)*(r*r)}" />
        </inertial>
    </xacro:macro>
</robot>